---
import BlueSkyEmbed from "../../../components/BlueSkyEmbed.astro";
---

<BlueSkyEmbed
  uri="at://did:plc:fll26nbvvyfm6ion7tj2sbjc/app.bsky.feed.post/3lfkkryklqc24"
  cid="bafyreih2qaukilxky7a6yoteuyvwv2yb3skoe6uzwlzeyrunbk2gpuk6ea"
>
  <p lang="en">
    Finally found a nice way to wirelessly update my gorgeous battery-powered
    Inky Frame from @pimoroni.com :)<br /><br /><a
      href="https://bsky.app/profile/did:plc:fll26nbvvyfm6ion7tj2sbjc/post/3lfkkryklqc24?ref_src=embed"
      >[image or embed]</a
    >
  </p>&mdash; Nicolas Mattia (<a
    href="https://bsky.app/profile/did:plc:fll26nbvvyfm6ion7tj2sbjc?ref_src=embed"
    >@nmattia.bsky.social</a
  >) <a
    href="https://bsky.app/profile/did:plc:fll26nbvvyfm6ion7tj2sbjc/post/3lfkkryklqc24?ref_src=embed"
    >12 January 2025 at 16:43</a
  >
</BlueSkyEmbed>
