@charset "UTF-8";

/* Some global styles. */

:root {
  --col-1: hsl(60deg, 0%, 13%);
  --col-2: hsl(60deg, 100%, 97%);
  --col-3: hsl(0deg 0% 46%);
  --col-4: hsl(0deg 0% 44.32%);
  --col-5: hsl(206 71% 40% / 1);
  --col-6: hsl(60deg, 100%, 99%);
  --col-7: hsl(60deg, 60%, 85%);
  --col-8: hsl(227, 28.2%, 25.7%);
  --col-9: f9f9f9;
}

html {
  --col-fg: var(--col-1);
  --col-bg: var(--col-2);
  --col-shadow: var(--col-3);
  --col-quote: var(--col-4);
  --col-card: var(--col-6);
  --col-card-shadow: var(--col-7);
  --col-card-hover: var(--col-9);

  --col-note: var(--col-5);
}

@media (prefers-color-scheme: dark) {
  html {
    --col-fg: var(--col-2);
    --col-bg: var(--col-1);
    --col-shadow: var(--col-3);
    --col-quote: var(--col-4);
    --col-card: var(--col-8);
    --col-card-shadow: transparent;
    --col-card-hover: var(--col-1);
  }

  /* in dark mode, ensure that pictures that rely on transparency have a background
   * with good contrast */
  img {
    background-color: var(--col-fg);
    border-radius: 5px;
  }
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  background-color: var(--col-bg);
  color: var(--col-fg);
  counter-reset: sidenote-counter;
  line-height: 1;

  /* used as an accent color in quad shaders */
  accent-color: var(--col-5);
}

:root {
  --list-margin-left: 2em;
  --blockquote-border-width: 0.25em;
}

ul {
  list-style-type: circle;
  margin-left: var(--list-margin-left);
}

/* Re-introduce some basics for ordered lists (numbers + spacing) */
ol li {
  list-style-type: decimal;
  margin-left: var(--list-margin-left);
  padding-left: 1em;
}

/* Make sure strikethroughs are struckthrough */
del {
  text-decoration-line: line-through;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

/* Shadows */

:root {
  --shadow-elevation-low:
    0.6px 0.4px 0.5px hsl(from var(--col-shadow) h s l / 0.86),
    0.8px 0.6px 0.8px -2.5px hsl(from var(--col-shadow) h s l / 0.58),
    2.5px 1.9px 2.4px -5px hsl(from var(--col-shadow) h s l / 0.29);
  --shadow-elevation-medium:
    0.6px 0.4px 0.5px hsl(from var(--col-shadow) h s l / 0.73),
    0.7px 0.6px 0.7px -1.2px hsl(from var(--col-shadow) h s l / 0.58),
    2px 1.5px 1.9px -2.5px hsl(from var(--col-shadow) h s l / 0.44),
    5.6px 4.2px 5.3px -3.7px hsl(from var(--col-shadow) h s l / 0.29),
    12.4px 9.4px 11.7px -5px hsl(from var(--col-shadow) h s l / 0.15);
  --shadow-elevation-high:
    0.6px 0.4px 0.5px hsl(from var(--col-shadow) h s l / 0.67),
    0.6px 0.5px 0.6px -0.6px hsl(from var(--col-shadow) h s l / 0.61),
    1.3px 1px 1.2px -1.1px hsl(from var(--col-shadow) h s l / 0.54),
    3.1px 2.3px 2.9px -1.7px hsl(from var(--col-shadow) h s l / 0.47),
    6.6px 5px 6.2px -2.2px hsl(from var(--col-shadow) h s l / 0.4),
    12.3px 9.3px 11.6px -2.8px hsl(from var(--col-shadow) h s l / 0.34),
    20.9px 15.8px 19.7px -3.3px hsl(from var(--col-shadow) h s l / 0.27),
    32.8px 24.8px 30.8px -3.9px hsl(from var(--col-shadow) h s l / 0.2),
    48.7px 36.8px 45.8px -4.4px hsl(from var(--col-shadow) h s l / 0.13),
    69.1px 52.2px 65px -5px hsl(from var(--col-shadow) h s l / 0.07);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

h1 {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  margin-top: 4rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
  margin-top: 2.1rem;
  line-height: 1.4;
}

h3 {
  font-size: 1.7rem;
  line-height: 1.4;
}

.blog-article > hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  margin: 1em auto;
}

/* By default, all link should be underlined & have a pointer */
a:any-link {
  text-decoration: underline;
  cursor: pointer;
}

p,
ol,
ul {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

blockquote {
  font-size: 1.4rem;
  border-left-style: solid;
  border-color: var(--col-quote);
  border-left-width: var(--blockquote-border-width);

  /* left padding (distance to border) */
  padding-left: 1.6em;

  /* top & bottom padding */
  --blockquote-padding: 1em;
  padding-top: var(--blockquote-padding);
  padding-bottom: var(--blockquote-padding);
}

/* Work around paragraphs having margins set globally */
blockquote p {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote footer {
  width: 55%;
  font-size: 1.1rem;
  text-align: right;
}

/* Special blockquotes marked as admonitions */
.admonition {
  border-color: var(--col-note);
}

.admonition-header {
  font-weight: bold;
  color: var(--col-note);
  display: flex;
  gap: 0.5em;
  align-items: center;

  /* Give the main text some room to breath */
  margin-bottom: 0.5em;
}

/* Add spacing between list items */
li + li {
  margin-top: 0.25rem;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

:root {
  /* Max width for things like header, actual content, etc */
  --max-content-width: min(60em, calc(100% - 2 * var(--max-content-gutter)));
  /* the spacing on each side when max width is reached (in rem to ensure it is consistent across the page.) */
  --max-content-gutter: 1rem;
}

.content {
  max-width: var(--max-content-width);
  margin-left: auto;
  margin-right: auto;
}

.header {
  max-width: var(--max-content-width);
  margin-left: auto;
  margin-right: auto;
}

.header-divider {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.header .links a {
  text-transform: uppercase;
}

.header a:link {
  text-decoration: none;
}

.header a:visited {
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.header a:active {
  text-decoration: underline;
}

.header .social a {
  text-decoration: none;
}

.header .nav {
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  /* Size the header as 1.8 rem by default, though scale down to ~5% of width
   * if the width is too small. But never below 1rem. */
  font-size: max(min(1.8rem, 5vw), 1rem);
}

.header .nav .nav-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.header .nav .social {
  float: right;
}

.intro {
  text-align: center;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  margin-bottom: 8vh;
}

.intro p + p {
  margin-top: 1em;
}

/* Divide between intro snippet & articles */
.intro-divider {
  height: 1px;
  max-width: 55%;
  border-top: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
}

/* Blog */

.blog {
  margin: 8vh auto;
}

.blog h2 {
  text-align: center;
}

.blog-container {
  /* The minimum card width: hardcoded for big screens, and full width
     * on small screens. */
  --min-card-width: min(400px, 100%);
  display: grid;
  /* Autofit cards, with a gap when there's 2+ columns */
  grid-template-columns: repeat(auto-fit, minmax(var(--min-card-width), 1fr));

  /* the gap between cards, vertical & horizontal */
  --blog-container-grid-gap: 1em;
  gap: var(--blog-container-grid-gap);
}

/* Break long words instead of creating horizontal scroll
 * https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_text/Wrapping_breaking_text#breaking_long_words */
.blog-article > p,
.blog-article > blockquote {
  overflow-wrap: break-word;
}

/* ... and work around mathjax containers that overflow vertically */
.blog-article > p:has(code.math-inline) {
  overflow-y: hidden;
}

/* Space out all top-level elements */
.blog-article > * {
  margin-top: 1.6rem; /* rem to avoid element's line-height impacting the spacing */
}

/* special handling for equations */
.blog-article > p.math-equation-paragraph {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.blog-article > p > img:first-child:last-child {
  max-height: 60vh; /* don't let images grow too much */
  max-width: 100%; /* ensure images don't go wider than container */

  /* ensures aspect ratio is respected (should be default) */
  height: auto;
  width: auto;

  /* center */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Hack since we don't have 'figcaption's (yet): if the paragraph after an image contains a single element, and
 * that element is an <em>, then make it look like a caption.
 */
.blog-article
  > p:has(img:first-child:last-child)
  + p:has(> em:first-child:last-child) {
  text-align: center;
  font-size: 1em;
}

footer {
  text-align: center;
  margin: 30px 0;
}

/* Make the copyright link not so visible */
footer a:link,
footer a:visited {
  text-decoration: none;
}

footer a:active,
footer a:hover {
  text-decoration: underline;
}

.card {
  --shadow-baseline: var(--shadow-elevation-low);
  /* Add shadows to create the "card" effect */
  box-shadow: var(--shadow-baseline);
  transition: 0.3s;
  font-size: 0.8rem;
  border-radius: 0.5em;
  background-color: var(--col-card);
  border: 1px solid var(--col-card-shadow);

  /* ensure all cards are the same height when side by side */
  height: 100%;
}

/* on very small screens, drop the gap and make the cards fill the screen */
@media (max-width: 600px) {
  .blog-container {
    --blog-container-grid-gap: 0;
  }

  .card {
    box-shadow: none;
    margin-left: calc(-1 * var(--max-content-gutter));
    margin-right: calc(-1 * var(--max-content-gutter));
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
  }

  .card:hover {
    background-color: var(--col-card-hover);
  }

  canvas {
    aspect-ratio: 1; /* looks better on small screens */
  }
}

.card h3 {
  text-align: center;
  margin-top: 1.5rem;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  --shadow-baseline: var(--shadow-elevation-medium);
  cursor: pointer;
}

/* Add some padding inside the card container */
.card-container {
  padding: 1em;
}

/* similar to article images, we fit the dimensions to match the aspect ratio */
.card-container > img {
  max-height: 60vh; /* don't let images grow too much */
  max-width: 100%; /* ensure images don't go wider than container */

  /* ensures aspect ratio is respected (should be default) */
  height: auto;
  width: auto;

  /* center */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-container .teaser {
  padding: 0 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card-container h3.card-title {
  --line-height: 1.4;
  line-height: var(--line-height);
  min-height: calc(3 * var(--line-height) * 1em);
}

/* Code styling */

/* inline code */
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

pre {
  margin: 0;
  border-radius: 5px;
  position: relative;
}

pre code {
  font-size: 1em;
  line-height: 1.5em;

  /* let the code breath a bit */
  /* padding left & right is handled on the line level becau
e we need
   * the highlighting to go end to end */
  padding-top: 1em;
  padding-bottom: 1em;

  /* Ensures the element extends horizontally otherwise the highlight
   * lines are truncated */
  display: inline-block;
  min-width: 100%;
}

/* Code line highlighting */
.line {
  display: inline-block;
  min-width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.highlight {
  background: rgba(255, 255, 255, 0.15);
}

.code-wrapper {
  position: relative; /* anchor for clipboard-copy button */
  overflow-x: scroll; /* ensure only the inners scroll and not the whole page */
}

/* Everything clipboard related */
.code-wrapper > .clipboard-copy {
  --clipboard-copy-fill-color: transparent;
  fill: var(--clipboard-copy-fill-color);
}

.code-wrapper:hover > .clipboard-copy {
  --clipboard-copy-fill-color: white;
}

.code-wrapper > .clipboard-copy {
  --clipboard-copy-outline-color: transparent;

  /* Used to animate the button on click; when :active, the transition is
   * unset so that it flashes and then transitions back to normal */
  --clipboard-copy-extra-transition: background 1.5s;
  transition:
    fill 300ms,
    var(--clipboard-copy-extra-transition);
  position: absolute;
  top: 0;
  right: 0;

  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid var(--clipboard-copy-outline-color);
  border-radius: 5px;
  cursor: pointer;
}

.code-wrapper > .clipboard-copy:hover {
  --clipboard-copy-outline-color: white;
}

.code-wrapper > .clipboard-copy:active {
  --clipboard-copy-extra-transition: background 0;
  background: var(--clipboard-copy-fill-color);
}

.bluesky-embed {
  margin-left: auto;
  margin-right: auto;
}
