---
import BlueSkyEmbed from "../../../components/BlueSkyEmbed.astro";
---

<BlueSkyEmbed
  uri="at://did:plc:fll26nbvvyfm6ion7tj2sbjc/app.bsky.feed.post/3ljsyvltpvk2e"
  cid="bafyreiaegqomzt4uqr7uqkwcu3lnrfhjckgg6bj2eq2d4ojmrya2q6mwly"
>
  <p lang="en">
    what goes into edge detection: 1. depth 2. normals 3. depth edges &amp;
    normal edges 4. thickening #3D #3dgraphics #ThreeJS #webgl<br /><br /><a
      href="https://bsky.app/profile/did:plc:fll26nbvvyfm6ion7tj2sbjc/post/3ljsyvltpvk2e?ref_src=embed"
      >[image or embed]</a
    >
  </p>&mdash; Nicolas Mattia (<a
    href="https://bsky.app/profile/did:plc:fll26nbvvyfm6ion7tj2sbjc?ref_src=embed"
    >@nmattia.bsky.social</a
  >) <a
    href="https://bsky.app/profile/did:plc:fll26nbvvyfm6ion7tj2sbjc/post/3ljsyvltpvk2e?ref_src=embed"
    >7 March 2025 at 22:57</a
  >
</BlueSkyEmbed>
