---
import Default from "../components/Default.astro";
---

<Default title="Page not found" ogType="website" description="Page not found">
  <article style="text-align: center;">
    <h1>Oops! This page doesn't exist.</h1>
    <h2>404</h2>
  </article>
</Default>
