<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
  <head>

    <!-- proper charset -->
    <meta charset="utf-8">
    <!-- Disable mobile scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>Nicolas Mattia$if(title)$ &ndash; $title$ $endif$</title>

    <!-- the "hash=..." is replace with the hash of the CSS file -->
    <link rel="stylesheet" type="text/css" href="/styles/default.css?hash=XXX_CSS" />
    <link rel="alternate" type="application/atom+xml" title="nmattia Atom feed" href="/atom.xml?type=blog" />
    <link rel="alternate" type="application/rss+xml" title="nmattia RSS feed" href="/rss.xml?type=blog" />

    <!-- comes from favicon generator -->

    <!-- OG tags -->
    $if(title)$<meta property="og:title" content="$title$" />$endif$
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://nmattia.com$url$" />
    $if(og_image)$<meta property="og:image" content="https://nmattia.com$og_image$" />$endif$

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?hash=XXX_APPLE">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?hash=XXX_FAV32">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?hash=XXX_FAV16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?hash=XXX_SAFARI" color="#XXX_COLOR">
    <meta name="msapplication-TileColor" content="#XXX_COLOR">
    <meta name="theme-color" content="#XXX_COLOR">

    <!-- over and out -->

  </head>

  <body>
    <div class="header">
      <div class="nav">
        <span class="links">
        <a href="/" class="home">home</a>
        </span>
        <span class="social">
          <a href="https://www.github.com/nmattia"><ion-icon name="logo-github"></ion-icon></a>
          <a href="https://www.linkedin.com/in/nicolas-mattia/"><ion-icon name="logo-linkedin"></ion-icon></a>
          <a href="mailto:nicolas@nmattia.com"><ion-icon name="mail"></ion-icon></a>
        </span>
      </div>
    </div>
    <div class="content">
      $body$
    </div>

    <footer>&copy; Nicolas Mattia 2019</footer>

    <script>
      if (document.location.hostname.search("nmattia.com") !== -1) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-82921132-1', 'auto');
        ga('send', 'pageview');
        ga('set', 'anonymizeIp', true);
      }
    </script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

  </body>
</html>
