---
/* a layout used for the resume page, which just imports the resume stylesheet. */

import "./styles/resume.css";
---

<html>
  <main>
    <!-- This wrapper (main) is needed because of https://github.com/withastro/astro/issues/7641 -->
    <slot />
  </main>


</html>
