---
/* a layout used for the resume page, which just imports the resume stylesheet. */

import "./styles/resume.css";
---

<head>
  <title>Resume</title>
  <meta charset="UTF-8" />

  <meta
    name="description"
    content="Resume of Nicolas Mattia — Software Engineer passionate about functional programming, correctness, and build reproducibility."
  />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<html lang="en">
  <main>
    <!-- This wrapper (main) is needed because of https://github.com/withastro/astro/issues/7641 -->
    <slot />
  </main>
</html>
